<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Steinebasar24.de</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <div class="flex justify-center">
        <header class="bg-ndarkgray w-9/12 h-14 rounded-b-lg">
            <div class="grid grid-cols-7 grid-flow-col gap-4 justify-items-center">
                <div class="col-start-1 col-end-3 flex flex-row space-x-4 p-2">
                    <button>
                        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.22642 28.871L1 20.6129L7.03774 6.67742M5.22642 28.871L19.717 33M5.22642 28.871L10.0566 20.0968M19.717 33L29.9811 30.9355M19.717 33L22.1321 28.871M29.9811 30.9355L33 24.7419L30.5849 12.871L25.1509 4.6129M29.9811 30.9355L25.1509 10.2903M29.9811 30.9355L22.1321 28.871M25.1509 4.6129L17.9057 1H17M25.1509 4.6129V10.2903M7.03774 6.67742L16.0943 1H17M7.03774 6.67742L11.2642 8.22581M10.0566 20.0968V17.5161M10.0566 20.0968L18.5094 23.1935M18.5094 23.1935L20.3208 9.77419M18.5094 23.1935L22.1321 28.871M20.3208 9.77419L16.6981 5.12903M20.3208 9.77419L25.1509 10.2903M16.6981 5.12903L11.2642 8.22581M16.6981 5.12903L17 1M11.2642 8.22581L10.9623 9.77419L10.6604 11.3226M10.0566 13.9032V14.9355" stroke="#EA580C"/>
                        </svg>    
                    </button>
                    <span class="self-center text-nyellow-200 text-xl font-bold uppercase tracking-wider">Steinebasar24.de</span>
                </div>
                <div class="col-start-3 col-span-3 p-2 w-3/4 bg-nblack-700">
                    <form class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 stroke-nblack-800" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                            </svg>
                        </div>
                        <input id="search" autocomplete="off" class="block w-3/4 pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-nblack-700 text-nyellow-200 placeholder-nyellow-200 focus:outline-none focus:bg-nyellow-200 focus:text-nblack-800 sm:text-sm transition duration-300 ease-in-out" placeholder="Suche" type="search" />
                    </form>
                </div>
                <div class="col-start-6 col-end-7 p-2">
                    <button>
                        <svg width="29" height="33" viewBox="0 0 29 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M25.6296 6.46594H3.07407L1 32.3333H28L25.6296 6.46594Z" stroke="black"/>
                            <path d="M7.85187 6.46594V10.6089" stroke="black"/>
                            <path d="M21.3333 6.43109V10.5741" stroke="black"/>
                            <path d="M7.66669 6.46593C9.14817 1.90519 11 1 14.5185 1C18.0371 1 20.056 2.42713 21.2222 6.46593" stroke="black"/>
                        </svg>
                            
                    </button>
                </div>
                <div class="col-start-7 col-end-8 p-2">
                    <button>
                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_33_10)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.000427246 33H31.9995C31.9348 23.4413 24.7964 15.7143 16 15.7143C7.20357 15.7143 0.0650897 23.4413 0.000427246 33Z" fill="black"/>
                                <path d="M15.8797 15.7143C19.8661 15.7143 23.0977 12.1965 23.0977 7.85714C23.0977 3.51776 19.8661 0 15.8797 0C11.8932 0 8.66162 3.51776 8.66162 7.85714C8.66162 12.1965 11.8932 15.7143 15.8797 15.7143Z" fill="black"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_33_10">
                                    <rect width="32" height="33" fill="white"/>
                                </clipPath>
                            </defs>
                        </svg>
                        
                    </button>
                </div>
            </div>
        </header>
    </div>
    
    <body class="bg-norange">

    </body>
</html>