<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Steinebasar24.de</title>
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body class="bg-green-500">
        <h1 class="text-xl font-bold uppercase">Läuft</h1>
    </body>
</html>